{{extend 'layout.html'}}

<style type="text/css">
	#msg{
		width: 50%;
		height: 200px;
	}
	ul{
		list-style: none;
		margin-left: 0px;
	}
	li{
		float: left;
		padding-right: 10px;
	}
</style>

<script type="text/javascript">
	function send () {
		var httpRequest;
		if (window.XMLHttpRequest) { // Mozilla, Safari, ...
    		httpRequest = new XMLHttpRequest();
		}
		else if (window.ActiveXObject) { // IE 8 and older
   			httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
		}
		httpRequest.onreadystatechange = function(){
			if (httpRequest.readyState === 4) {
      			if (httpRequest.status === 200) {
        			alert("Done");
      			}
      			else {
        			alert('There was a problem with the request.');
			    }
			}
		};
		email = document.getElementById('email').value;
		msg = document.getElementById('msg').value;
		httpRequest.open('GET', 'http://127.0.0.1:8000/MessagingApp/default/update_db?to='+email+'&msg='+msg, true);
		httpRequest.send();
	}

</script>

<ul>
	<li><a href="http://127.0.0.1:8000/MessagingApp/default/view_msg">Received Messages</a></li>
	<li><a href="http://127.0.0.1:8000/MessagingApp/default/sent_msg">Sent Messages</a></li>
</ul>
<br>
<br>
<form>
	Email: <input placeholder="Email" id="email">
	<br>
	<br>
	Message: <textarea placeholder="Type your message here...." id="msg"></textarea>
	<input type="button" value="Send" onclick="send()">
</form>
