{{extend 'layout.html'}}

<html>
<head>
<title>
Home
</title>
</head>
<body>
<form method="GET" action="">
<input type="submit" value="manual">
</form>


<form method="GET" action="ind">
<input type="submit" value="view images">
</form>



<form method="GET" action="http://127.0.0.1:8000/rock/appadmin/insert/db/image">
<input type="submit" value="upload images">
</form>


<form method="GET" action="">
<input type="submit" value="delete images">
</form>
</body>
</html>
